
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Oxygen:300');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5,
.title,
.card-header,
.navbar-brand {
  font-family: $font-family-titles;
}

.navbar.navbar-laravel {
  background-color: $navbar-default-bg;
  color: white;
}

.navbar.navbar-laravel .navbar-brand {
  color: white;
}

.navbar.navbar-laravel .navbar-nav .nav-link {
  color: white;
}

.card {
  border: 0;    
  border-radius: 1px;
}

.card-header {
  background-color: rgb(21, 162, 184);
  border-radius: 1px !important;
  color: white;
}

.navbar.navbar-laravel .navbar-toggler {
  border: 0;
  background: #8ad0db;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
}

.dropdown-menu {
  padding: 0;
  border-radius: 1px;
  border: 0;
  box-shadow: $shadow;
}

.dropdown-item {
  padding: 0.75rem 1rem;
}

.form-control {
  border-radius: 1px;
}

.btn {
  border-radius: 1px;
}

@media (max-width: 767px) {
  .navbar.navbar-laravel .navbar-nav .dropdown-menu {
    background-color: #8ad0db;
    border-radius: 0;
    border: 0;
    padding: 0.25rem 0;
  }
}

.navbar.navbar-laravel .navbar-nav .nav-link.active {
  background: rgba(255,255,255,.2);
  color: #fff06f;
}

@media (max-width: 767px) {
  .navbar.navbar-laravel .navbar-nav .nav-link.active {
    background: none;
  }

  .navbar-nav {
    margin-top: 12px;
  }
}

@media (min-width: 768px) {
  .navbar-desktop-divider {
    display: block;
    margin: 0 12px;
    border: 0.5px solid rgba(255, 255, 255, 0.17)
  }
}

.month {
  background: #d43d32;
  text-align: center;
  padding: 8px;
  color: white;
}

.weekdays,
.week {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.days .week {
  border-left: 1px solid rgba(0,0,0,.03);
  border-right: 1px solid rgba(0,0,0,.03);
}

.days .week:first-of-type {
  border-top: 1px solid rgba(0,0,0,.03);
}

.days .week:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,.03);
}

.day-of-the-week,
.day {
  text-align: center;
  padding: 4px 8px;
  width: 14.28%;
}

.day {
  cursor: default;
  border: 1px solid rgba(0,0,0,.03);
}

.day.saturday {
  background: rgba(138, 208, 219, 0.7490196078431373);
}

.day.sunday {
  background: #7cc4d0;
}

.day:hover {
  border: 1px solid orange;
  cursor: pointer;
}

.day.empty {
  background: rgba(0,0,0,.03);
  cursor: default;
  border: 1px solid transparent !important;
}

.day.active {
  background: orange;
  border: 1px solid transparent !important;
  color: white;
}